*,
*:before,
*:after {
   box-sizing: inherit;
   backface-visibility: hidden;
}

html {
   box-sizing: border-box;
   font-size: 14px;
   -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
   -ms-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
   display: inline;
   vertical-align: baseline;
   /* overridge  tailwind icon default */
}
.no-fouc {
   visibility: hidden;
   opacity: 0;
}

.fouc {
   visibility: visible;
   opacity: 1;
}
.spin span {
   font-size: 100px !important;
}
.spin span i {
   width: 30px !important;
   height: 30px !important;
}
